@import "./cadastro.html";

#login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
  
    justify-items: center;
    padding: 0;
}

.info{
    background-color: var(--purple);
    height: 100dvh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.info > a{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.info h1{
    font-size: 3rem;
    margin-bottom: .75rem;
}

.info > p{
    margin-bottom: 1.5rem;
}

.info > div{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.info button{
    padding: .5rem 1.5rem;
    font-size: 1.25rem;
}

form{
    height: 100dvh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

form > a{
    display: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

form h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

button + p{
    margin-top: .5rem;
    text-align: center;
}

span{
    color: var(--purple);
    cursor: pointer;
}

@media (width < 1024px) {

    #login{
        grid-template-columns: 1fr;
    }

    .info{
        display: none;
    }

    form{
        min-height: auto;
        position: initial;
    }

    form > a{
        display: block;
    }
}


 