@import './style.css';

.search-container{
    display: flex;
}

.search-container button{
    height: calc(100% - .5rem);
    aspect-ratio: 1/1;
    background-color: var(--title-color);
    border: 2px solid var(--title-color);
    border-left: none;
    cursor: pointer;
}

.search-container i{
    color: var(--purple);
}

@media (width < 481px){
    .search-container input, .search-container{
        width: 100%;
    }
}